:root {
  --cWhite: #ffffff;
  --cRed: #fd0303;
  --cPink: #ef0a6a;
  --cDarkPink: #b70536;
  --cYellow: #ffde00;
  --cBlack: #000000;
  --cLightBlack: #595959;


  --sFontMedium: 14px;
  --sFontBody: 16px;
  --sFontLarge: 20px;
}
