.section-care-content {
  background: var(--cPink) url("images/banner.png") no-repeat center;
  width: 100%;
  background-size: cover;
}

.care-content-block__text {
  padding: 136px 0 180px;
  font-size: 80px;
  color: var(--cWhite);
  font-weight: 700;
  max-width: 530px;
  text-align: right;

  p {
    margin: 0;
  }
}
