.section-care-content {
  background: var(--cPink) url("images/banner.png") no-repeat center;
  width: 100%;
  background-size: cover;
}

.care-content-block__text {
  position: relative;
  padding: 200px 0;
  font-size: 70px;
  color: var(--cWhite);
  font-weight: 700;
  max-width: 530px;
  text-align: right;

  @media screen and (max-width: 1200px) {
    font-size: 40px;
    max-width: 300px;
  }

  @media screen and (max-width: 767px) {
    font-size: 25px;
    max-width: 200px;
    padding: 70px 0;
  }

  @media screen and (max-width: 375px) {
    padding: 40px 0;
  }

  p {
    margin: 0;
  }
}
