.guide-content-block {
  width: 100%;
  max-width: 1400px;
  margin-top: 100px;
  background-color: #f3f3f3;
  padding-bottom: 90px;
}
@media screen and (max-width: 1023px) {
  .guide-content-block {
    margin: 30px 0;
    padding-bottom: 20px;
  }
}

.section__title {
  padding-top: 30px;
  color: #f60c4d;
  font-size: 70px;
  align-items: center;
  text-align: center;
}
@media screen and (max-width: 1023px) {
  .section__title {
    font-size: 30px;
  }
}

.articles {
  padding: 0 110px;
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
  gap: 100px;
}
@media screen and (max-width: 1200px) {
  .articles {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1023px) {
  .articles {
    margin-top: 30px;
    padding: 0;
    gap: 30px;
  }
}

.articles__item {
  flex-basis: 100%;
}

.articles__title {
  align-items: center;
  justify-content: center;
  font-size: 50px;
  color: #f60c4d;
  margin-bottom: 30px;
}
@media screen and (max-width: 1023px) {
  .articles__title {
    margin-bottom: 15px;
    text-align: center;
    font-size: var(--sFontLarge);
    line-height: 1.5;
  }
}

.articles__text {
  font-size: 30px;
  color: #595959;
}
@media screen and (max-width: 1023px) {
  .articles__text {
    font-size: var(--sFontBody);
  }
}
