.header {
  background-image: linear-gradient(to right, var(--cRed), var(--cPink));
  border-bottom: 10px solid var(--cDarkPink);
  height: 168px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.header-menu {
  display: flex;
  align-items: stretch;
  z-index: 1;
  justify-content: space-between;
}

.header-menu__logo {
  display: flex;
  background-color: var(--cWhite);
  text-align: center;
  max-width: 260px;
  position: relative;
}
.header-menu__logo:before {
  content: "";
  position: absolute;
  bottom: -19px;
  background: var(--cWhite);
  left: 0;
  right: 0;
  height: 20px;
}
.header-menu__logo:after {
  content: "";
  position: absolute;
  right: -10px;
  width: 0;
  bottom: -19px;
  height: 0;
  border-top: 0 solid transparent;
  border-bottom: 26px solid transparent;
  border-left: 10px solid var(--cDarkPink);
}
.header-menu__logo a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 45px;
  font-weight: 700;
  color: var(--cPink);
  padding: 28px 50px;
}

.nav {
  display: flex;
  font-size: 30px;
}
@media screen and (max-width: 1023px) {
  .nav {
    position: fixed;
    transform: translateY(-100%);
    transition: 0.2s ease-in;
    background-image: linear-gradient(to right, var(--cRed), var(--cPink));
    left: 0;
    right: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    height: 100vh;
  }
  .nav.nav_open {
    transform: translateY(0);
  }
}
.nav a {
  color: var(--cWhite);
  font-weight: 700;
}

.nav__link {
  display: flex;
  align-items: center;
  padding: 0 25px;
  text-decoration: none;
}
.nav__link.active {
  background-color: rgba(183, 5, 54, 0.8);
}

.nav__toggleBtn {
  width: 48px;
  height: 38px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
  cursor: pointer;
  align-self: center;
}
@media screen and (min-width: 1024px) {
  .nav__toggleBtn {
    display: none;
  }
}
.nav__toggleBtn span {
  display: block;
  height: 12px;
  width: 100%;
  background: var(--cWhite);
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}
.nav__toggleBtn span:nth-child(1) {
  top: 0;
}
.nav__toggleBtn span:nth-child(3) {
  top: 18px;
}
.nav__toggleBtn.open span:nth-child(1) {
  position: absolute;
  top: 8px;
  transform: rotate(135deg);
  background: var(--cWhite);
}
.nav__toggleBtn.open span:nth-child(2) {
  position: absolute;
  opacity: 0;
  top: 8px;
  background: var(--cWhite);
}
.nav__toggleBtn.open span:nth-child(3) {
  position: absolute;
  top: 8px;
  transform: rotate(-135deg);
  background: var(--cWhite);
}
