.section-text-block__text {
  padding: 80px 0;
}
@media screen and (max-width: 1200px) {
  .section-text-block__text {
    padding: 60px 0;
  }
}
@media screen and (max-width: 767px) {
  .section-text-block__text {
    padding: 40px 0;
  }
}
.section-text-block__text p {
  font-size: 30px;
  margin: 0 0 20px;
}
.section-text-block__text p:last-child {
  margin: 0;
}
@media screen and (max-width: 1200px) {
  .section-text-block__text p {
    font-size: 24px;
  }
}
@media screen and (max-width: 767px) {
  .section-text-block__text p {
    font-size: var(--sFontLarge);
    text-align: center;
  }
}
