body {
  margin: 0;
  background-color: #fff;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  width: 100%;
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
}

.btn {
  border: none;
  display: inline-flex;
  color: #ffffff;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

:root {
  --cWhite: #ffffff;
  --cRed: #fd0303;
  --cPink: #ef0a6a;
  --cDarkPink: #b70536;
  --cYellow: #ffde00;
}

.header {
  background-image: linear-gradient(to right, var(--cRed), var(--cPink));
  border-bottom: 10px solid var(--cDarkPink);
  height: 168px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.header-menu {
  display: flex;
  align-items: stretch;
  z-index: 1;
  justify-content: space-between;
}

.header-menu__logo {
  display: flex;
  background-color: var(--cWhite);
  text-align: center;
  max-width: 260px;
  position: relative;
}
.header-menu__logo:before {
  content: "";
  position: absolute;
  bottom: -20px;
  background: var(--cWhite);
  left: 0;
  right: 0;
  height: 20px;
}
.header-menu__logo:after {
  content: "";
  position: absolute;
  right: -10px;
  width: 0;
  bottom: -20px;
  height: 0;
  border-top: 0 solid transparent;
  border-bottom: 17px solid transparent;
  border-left: 10px solid var(--cDarkPink);
}
.header-menu__logo a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 45px;
  font-weight: 700;
  color: var(--cPink);
  padding: 28px 50px;
}

.nav {
  display: flex;
  font-size: 30px;
}
.nav a {
  color: var(--cWhite);
}

.nav__link {
  display: flex;
  align-items: center;
  padding: 0 25px;
  text-decoration: none;
}
.nav__link:last-child {
  padding-right: 0;
}
.nav__link.active {
  background-color: rgba(183, 5, 54, 0.8);
}

.section-main-banner {
  background: url("images/parallax-left.png") -327px -294px no-repeat, url("images/parallax-right.png") 1000px 0px no-repeat;
  background-attachment: fixed;
}

.main-banner {
  padding-top: 50px;
  margin: 0 auto;
}

.intro-banner {
  display: flex;
  height: 100%;
}

.intro-banner__image {
  max-width: 760px;
}

.intro-banner__image img {
  max-height: 100%;
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
  margin: auto auto;
}

.intro-banner__text {
  width: 75%;
  position: relative;
}

.intro-banner__text_upper {
  text-align: left;
  font-size: 50px;
  color: #f60c4d;
  font-weight: 900;
  margin-top: 30px;
  display: block;
}

.row-indent-upper {
  padding-left: 20px;
}

.row-indent-mid {
  padding-left: 30px;
}

.row-indent-bottom {
  padding-left: 40px;
}

.intro-banner__text_bottom {
  display: block;
  position: absolute;
  text-align: center;
  top: 210px;
  left: 50px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--cDarkPink);
  font-size: 45px;
}

.row-upper {
  padding: 0 10px 0 10px;
  background-color: var(--cYellow);
}

.row-bottom {
  padding: 0 20px 0 20px;
  background-color: var(--cYellow);
}

.btn-main {
  font-weight: 700;
  padding: 39px 100px 39px 110px;
  margin: 120px 30px 0 30px;
  font-size: 50px;
  border-radius: 220px;
  text-transform: uppercase;
  background-image: linear-gradient(to right, var(--cRed), var(--cPink));
}

.guide-content-block {
  width: 100%;
  max-width: 1400px;
  margin-top: 100px;
  background-color: #f3f3f3;
  padding-bottom: 30px;
}

.section__title {
  padding-top: 30px;
  color: #f60c4d;
  font-size: 70px;
  align-items: center;
  text-align: center;
}

.articles {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 60px;
}

.articles__item {
  width: 100%;
  max-width: 600px;
  z-index: 1;
}

.articles__title {
  align-items: center;
  text-align: center;
  justify-content: center;
  font-size: 50px;
  color: #f60c4d;
  margin-bottom: 30px;
}

.articles__text {
  font-size: 30px;
  color: #595959;
}

.articles__item:first-child {
  padding-left: 50px;
}

.articles__item:nth-child(2) {
  padding-right: 50px;
}

.section-care-content {
  background: var(--cPink) url(../images/banner.png) no-repeat center;
  width: 100%;
  height: 700px;
}

.intro-banner {
  display: flex;
  height: 100%;
}

.intro-banner__image {
  max-width: 760px;
}
.intro-banner__image img {
  max-height: 100%;
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
  margin: auto auto;
}

.btn-main {
  font-weight: 700;
  padding: 39px 100px 39px 110px;
  font-size: 50px;
  border-radius: 220px;
  text-transform: uppercase;
  background-image: linear-gradient(to right, var(--cRed), var(--cPink));
}

.btn a {
  color: var(--cWhite);
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
