//sass --watch --sourcemap=none style.scss:style.css --no-cache

@import "scss/core";
@import "scss/variables";
@import "scss/header";
@import "scss/main-banner";
@import "scss/guide-content";
@import "scss/care-content";
@import "scss/secret-promo";
@import "scss/tight-content";
@import "scss/text-block";
@import "scss/carousel-reviews";
@import "scss/preview-content";


.intro-banner {
  display: flex;
  height: 100%;
}
.intro-banner__image {
  max-width: 760px;

  img {
    max-height: 100%;
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
    margin: auto auto;
  }
}

.btn-main {
  font-weight: 700;
  padding: 39px 100px 39px 110px;
  font-size: 50px;
  border-radius: 220px;
  text-transform: uppercase;
  background-image: linear-gradient(to right, var(--cRed), var(--cPink));
}
.btn a {
  color: var(--cWhite);
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
