body {
  margin: 0;
  background-color: #fff;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  width: 100%;
  max-width: 1360px;
  padding: 0 80px;
  margin: 0 auto;
}
@media screen and (max-width: 1023px) {
  .container {
    padding: 0 10px;
  }
}

.btn {
  border: none;
  display: inline-flex;
  color: #ffffff;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

:root {
  --cWhite: #ffffff;
  --cRed: #fd0303;
  --cPink: #ef0a6a;
  --cDarkPink: #b70536;
  --cYellow: #ffde00;
  --cBlack: #000000;
  --cLightBlack: #595959;
  --sFontMedium: 14px;
  --sFontBody: 16px;
  --sFontLarge: 20px;
}

.header {
  background-image: linear-gradient(to right, var(--cRed), var(--cPink));
  border-bottom: 10px solid var(--cDarkPink);
  height: 168px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.header-menu {
  display: flex;
  align-items: stretch;
  z-index: 1;
  justify-content: space-between;
}

.header-menu__logo {
  display: flex;
  background-color: var(--cWhite);
  text-align: center;
  max-width: 260px;
  position: relative;
}
.header-menu__logo:before {
  content: "";
  position: absolute;
  bottom: -20px;
  background: var(--cWhite);
  left: 0;
  right: 0;
  height: 20px;
}
.header-menu__logo:after {
  content: "";
  position: absolute;
  right: -10px;
  width: 0;
  bottom: -20px;
  height: 0;
  border-top: 0 solid transparent;
  border-bottom: 17px solid transparent;
  border-left: 10px solid var(--cDarkPink);
}
.header-menu__logo a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 45px;
  font-weight: 700;
  color: var(--cPink);
  padding: 28px 50px;
}

.nav {
  display: flex;
  font-size: 30px;
}
@media screen and (max-width: 1023px) {
  .nav {
    display: none;
  }
}
.nav a {
  color: var(--cWhite);
}

.nav__link {
  display: flex;
  align-items: center;
  padding: 0 25px;
  text-decoration: none;
}
.nav__link:last-child {
  padding-right: 0;
}
.nav__link.active {
  background-color: rgba(183, 5, 54, 0.8);
}

.section-main-banner {
  background: url("images/parallax-left.png") -327px -294px no-repeat, url("images/parallax-right.png") 1000px 0px no-repeat;
  background-attachment: fixed;
}

.main-banner {
  padding-top: 50px;
  margin: 0 auto;
}

.intro-banner {
  display: flex;
  height: 100%;
}

.intro-banner__image {
  max-width: 760px;
}

.intro-banner__image img {
  max-height: 100%;
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
  margin: auto auto;
}

.intro-banner__text {
  width: 75%;
  position: relative;
}
@media screen and (max-width: 1023px) {
  .intro-banner__text {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.intro-banner__text_upper {
  text-align: left;
  font-size: 50px;
  color: #f60c4d;
  font-weight: 900;
  margin-top: 30px;
  display: block;
}
.intro-banner__text_upper > span {
  display: block;
}
@media screen and (max-width: 1023px) {
  .intro-banner__text_upper > span {
    display: inline-block;
    padding-left: 0;
  }
}
@media screen and (max-width: 1200px) {
  .intro-banner__text_upper {
    font-size: 40px;
  }
}
@media screen and (max-width: 1023px) {
  .intro-banner__text_upper {
    font-size: 24px;
    text-align: center;
  }
}

.row-indent-upper {
  padding-left: 20px;
}

.row-indent-mid {
  padding-left: 30px;
}

.row-indent-bottom {
  padding-left: 40px;
}

.intro-banner__text_bottom {
  display: block;
  position: absolute;
  text-align: center;
  top: 210px;
  left: 50px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--cDarkPink);
  font-size: 45px;
}
.intro-banner__text_bottom > span {
  display: block;
}
@media screen and (max-width: 1023px) {
  .intro-banner__text_bottom > span {
    display: inline-block;
  }
}
@media screen and (max-width: 1200px) {
  .intro-banner__text_bottom {
    top: 170px;
    left: 50px;
    font-size: 35px;
  }
}
@media screen and (max-width: 1023px) {
  .intro-banner__text_bottom {
    margin-top: 30px;
    position: relative;
    top: inherit;
    left: inherit;
    font-size: 24px;
  }
}

.row-upper {
  padding: 0 10px 0 10px;
  background-color: var(--cYellow);
}

.row-bottom {
  padding: 0 20px 0 20px;
  background-color: var(--cYellow);
}

.btn-main {
  font-weight: 700;
  padding: 39px 100px 39px 110px;
  margin: 120px 30px 0 30px;
  font-size: 50px;
  border-radius: 220px;
  text-transform: uppercase;
  background-image: linear-gradient(to right, var(--cRed), var(--cPink));
}
@media screen and (max-width: 1200px) {
  .btn-main {
    padding: 30px 80px;
    font-size: 40px;
  }
}
@media screen and (max-width: 1023px) {
  .btn-main {
    margin: 30px auto 0;
    font-size: 24px;
    padding: 20px 40px;
  }
}

.guide-content-block {
  width: 100%;
  max-width: 1400px;
  margin-top: 100px;
  background-color: #f3f3f3;
  padding-bottom: 90px;
}
@media screen and (max-width: 1023px) {
  .guide-content-block {
    margin: 30px 0;
    padding-bottom: 20px;
  }
}

.section__title {
  padding-top: 30px;
  color: #f60c4d;
  font-size: 70px;
  align-items: center;
  text-align: center;
}
@media screen and (max-width: 1023px) {
  .section__title {
    font-size: 30px;
  }
}

.articles {
  padding: 0 110px;
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
  gap: 100px;
}
@media screen and (max-width: 1200px) {
  .articles {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1023px) {
  .articles {
    margin-top: 30px;
    padding: 0;
    gap: 30px;
  }
}

.articles__item {
  flex-basis: 100%;
}

.articles__title {
  align-items: center;
  justify-content: center;
  font-size: 50px;
  color: #f60c4d;
  margin-bottom: 30px;
}
@media screen and (max-width: 1023px) {
  .articles__title {
    margin-bottom: 15px;
    text-align: center;
    font-size: var(--sFontLarge);
    line-height: 1.5;
  }
}

.articles__text {
  font-size: 30px;
  color: #595959;
}
@media screen and (max-width: 1023px) {
  .articles__text {
    font-size: var(--sFontBody);
  }
}

.section-care-content {
  background: var(--cPink) url("images/banner.png") no-repeat center;
  width: 100%;
  background-size: cover;
}

.care-content-block__text {
  padding: 136px 0 180px;
  font-size: 80px;
  color: var(--cWhite);
  font-weight: 700;
  max-width: 530px;
  text-align: right;
}
.care-content-block__text p {
  margin: 0;
}

.secret-promo-block__text {
  padding-top: 40px;
}
.secret-promo-block__text img {
  max-height: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  margin: auto auto;
}

.tight-content-block img {
  max-height: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  margin: auto auto;
}

.section-text-block__text p {
  font-size: 30px;
  padding: 80px 0;
  margin: 0;
}

.section-carousel-reviews {
  padding-top: 50px;
  background: #F3F3F3;
  padding-bottom: 100px;
  position: relative;
}
.section-carousel-reviews .slick-list {
  margin: 0 -27px;
}
.section-carousel-reviews .slick-track {
  display: flex !important;
}
.section-carousel-reviews .slick-slide {
  height: inherit !important;
  margin: 0 27px;
}
.section-carousel-reviews .carousel__arrow_prev {
  left: 10px;
}
.section-carousel-reviews .carousel__arrow_next {
  right: 10px;
}
.section-carousel-reviews .carousel__arrow {
  top: 50%;
  transform: translateY(-50%);
  height: 56px;
  width: 56px;
  position: absolute;
  cursor: pointer;
}
@media screen and (max-width: 1200px) {
  .section-carousel-reviews .carousel__arrow {
    height: 46px;
    width: 46px;
  }
}
@media screen and (max-width: 767px) {
  .section-carousel-reviews .carousel__arrow {
    height: 36px;
    width: 36px;
  }
}
.section-carousel-reviews .carousel__arrow:hover, .section-carousel-reviews .carousel__arrow:active {
  opacity: 0.85;
}

.review-block {
  width: 100%;
  display: flex;
  flex-direction: column;
  filter: drop-shadow(2px -11px 11px rgba(0, 0, 0, 0.2));
}

.review-block__info {
  padding: 30px 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.review-block__link {
  text-decoration: none;
  color: var(--cBlack);
}

.review-block__image img {
  max-height: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  margin: auto auto;
}

.review-block__content {
  padding: 20px 20px 40px;
  background: var(--cWhite);
  position: relative;
  flex-grow: 1;
}

.review-block__content-header {
  margin: 0;
  text-align: center;
  color: var(--cLightBlack);
  font-size: var(--sFontLarge);
  font-weight: 700;
}
@media screen and (max-width: 1200px) {
  .review-block__content-header {
    font-size: var(--sFontBody);
  }
}

.review-block__content-btn {
  background-image: linear-gradient(to right, var(--cRed), var(--cPink));
  display: inline-flex;
  color: var(--cWhite);
  padding: 15px 40px;
  border-radius: 34px;
  text-align: center;
  align-items: center;
  position: absolute;
  width: 150px;
  bottom: -24px;
  justify-self: center;
  left: 50%;
  transform: translateX(-50%);
}

@media screen and (max-width: 1200px) {
  .review-block__content-text {
    font-size: var(--sFontMedium);
  }
}

.section-preview-content {
  padding-top: 70px;
}

.preview-content__image {
  position: relative;
}
.preview-content__image img {
  max-height: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  margin: auto auto;
}

.preview-content__text {
  text-align: center;
  text-transform: uppercase;
  font-size: var(--sFontLarge);
}

.preview-content__preview-btn {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 26px;
  font-weight: 700;
  color: var(--cWhite);
  padding: 20px 80px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(239, 10, 106, 0.7);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 137.5px;
}

.preview-result-block__billet {
  margin-top: 60px;
  margin-bottom: 80px;
  text-transform: uppercase;
  font-size: 40px;
  background: var(--cYellow);
  padding: 40px 100px;
  text-align: center;
  border-radius: 16px;
}

.preview-results-block__images {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 60px;
}
@media screen and (max-width: 767px) {
  .preview-results-block__images {
    grid-template-columns: repeat(1, 1fr);
  }
}

.preview-results-block__image img {
  max-height: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  margin: auto auto;
}

.preview-love {
  background: url("images/with-love.png") center no-repeat;
  background-size: cover;
}

.footer {
  position: relative;
}
.footer .hidden-bottom-text {
  margin-top: 20px;
  color: var(--cWhite);
  font-size: 15px;
  position: absolute;
  right: 180px;
  bottom: 80px;
}

.footer-block {
  display: flex;
  height: 320px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  height: 100%;
}

.footer {
  height: 100%;
  margin-top: 50px;
  background-image: linear-gradient(to right, var(--cRed), var(--cPink));
  background-size: cover;
}
.footer .footer-logo-icons {
  display: flex;
  justify-content: left;
  margin-top: 210px;
}
.footer .footer-logo-icons a {
  text-decoration: none;
}
.footer .footer-logo-icons a:hover {
  text-decoration: none;
  opacity: 0.9;
}
.footer .footer-logo-icons img {
  width: 60px;
  height: 60px;
}
.footer .footer-text {
  max-width: 350px;
  display: flex;
  height: 100%;
  font-size: 16px;
  font-weight: 400;
  color: var(--cDarkPink);
  align-items: center;
  justify-content: center;
  margin-left: 80px;
  margin-top: 30px;
}
.footer .footer-text p {
  height: 100%;
  margin: 0;
}
.footer .footer-label {
  display: flex;
  margin-top: 70px;
  margin-left: 35px;
}
.footer .footer-label img {
  width: 190px;
  height: 190px;
}
.footer .footer-subscribe {
  display: flex;
  margin-top: 60px;
  margin-left: 90px;
  position: relative;
}
.footer .footer-subscribe .footer-subscribe-content .hidden-header-text {
  text-transform: uppercase;
  font-size: 20px;
  color: var(--cWhite);
  font-weight: 900;
  margin-bottom: 20px;
}
.footer .footer-subscribe .footer-subscribe-content .subscribe-content-hint {
  color: var(--cWhite);
  font-weight: 700;
  font-size: 15px;
}
.footer .footer-subscribe .btn-footer {
  margin-top: 20px;
  font-size: var(--sFontBody);
  font-weight: 700;
  padding: 12px 45px 12px 45px;
  border-radius: 49px;
  text-transform: lowercase;
  background: var(--cDarkPink);
  margin-left: 0;
}

.intro-banner {
  display: flex;
  height: 100%;
}
@media screen and (max-width: 1023px) {
  .intro-banner {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.intro-banner__image {
  max-width: 760px;
}
@media screen and (max-width: 1023px) {
  .intro-banner__image {
    max-width: 360px;
  }
}
.intro-banner__image img {
  max-height: 100%;
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
  margin: auto auto;
}

.btn a {
  color: var(--cWhite);
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
