body {
  margin: 0;
  background-color: #fff;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-image: linear-gradient(to right, #fd0303, #ef0a6a);
}
.container {
  width: 100%;
  max-width: 2560px;
  margin: 0 auto;
  padding: 0;
}
.header-menu {
  position: relative;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  height: 176px;
}
.header-menu:before{
  content: "";
  display: flex;
  width: 100%;
  height: 10px;
  position: absolute;
  bottom: 0;
  z-index: 0;
  border-bottom: 8px solid #b70536;
}
.header-menu__logo {
  display: flex;
  height: 100%;
  padding-bottom: 190px;
  background-color: #ffffff;
  width: 100%;
  max-width: 259px;
  text-align: center;
  margin-left: 326px;
  z-index: 1;
  box-shadow: 0 3px rgb(217 217 217 / 50%);
}
.header-menu__logo a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  max-width: 100%;
  width: 162px;
  height: 132px;
  font-size: 55px;
  font-weight: 900;
  color: #f60c4d;
  margin: 27px 50px 29px 49px;
}
.nav {
  display: flex;
  font-size: 50px;
  width: 100%;
  max-width: 817px;
  height: 100%;
  margin-left: 1010px;
}
.nav__link {
  display: flex;
  align-items: center;
  padding: 0 25px;
  color: #ffffff;
  text-decoration: none;
}
.nav__link:last-child {
  padding-right: 0;
}
.nav__link.active {
  background-color: rgba(183, 5, 54, 0.8);
}
.section-bg {
  padding: 235px 0;
}
.babe-bg {
  width: 100%;
  max-width: 2560px;
  height: 1900px;
  background-color: #ffffff;
  /* padding: 40px 0; */
  margin-top: auto;
  background-image: url("./../../images/parallax-left.png"),
    url("./../../images/parallax-right.png");
  margin: 0 auto;
  padding: 0;
  background-repeat: no-repeat;
  background-position: left -327px top -470px, right -468px bottom -290px;
  text-align: center;
}
.babe-slider {
  display: flex;
  width: 100%;
  max-width: 1687px;
  height: 100%;
  max-height: 853px;
  margin: 0 auto;
  padding: 0;
  margin: 47px 282px 0 391px;
}
.babe-slider__img {
  width: 763px;
  height: 100%;
}
.babe-lider__content {
  position: absolute;
  display: block;
}
.text-top {
  display: block;
  text-align: left;
  width: 733px;
  height: 425px;
  font-size: 70px;
  font-weight: 700;
  color: #f60c4d;
  margin-left: 30px;
}
.text-bottom {
  display: block;
  margin-top: -210px;
  margin-left: 30px;
  width: 756px;
  height: 182px;
  font-size: 75px;
  font-weight: 700;
  text-transform: uppercase;
}
.text-bottom mark {
  color: #b70536;
}
.btn {
  display: inline-block;
  position: absolute;
  vertical-align: middle;
  width: 80%;
  height: 100%;
  right: 70px;
  max-height: 102px;
  padding: 89px 150px;
  position: relative;
  overflow: hidden;
  font-size: 80px;
  font-weight: 900;
  letter-spacing: 1.5;
  color: #ffffff;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  border: 0;
  border-radius: 220px;
  text-transform: uppercase;
}
.btn-text {
  position: relative;
  width: 100%;
}
.btn--red {
  background-image: linear-gradient(to right, #fd0303, #ef0a6a);
}
